:root {
    --accent-color: #4EFF7E;
    --primary-color: #FFFFFF;
    --background-color: #171717;
    --container-color: #2C2C2C;
    --container-radius: 12px;
}

* { 
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

html { scroll-behavior: smooth; }

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--background-color);
    color: var(--primary-color);
}