@import "tailwindcss";

@theme {
  --color-background: #171717;
  --color-primary: #ffff;
  --color-accent: #4eff7e;
  --color-container: #252525;
  --color-con_outline: #4d4d4d;

  --radius-container: 24px;
  --font-sans: "Geist Fallback", sans-serif;
}